@using Microsoft.AspNetCore.Authentication
@using TokenServiceClient.Website

<a href="/Home/LogOut">Logout</a>

<h2>Statics</h2>
<dl>
    <dt>Subject id</dt>
    <dd>@User.SubjectId()</dd>
    <dt>Name</dt>
    <dd>@User.Name()</dd>
    <dt>Email</dt>
    <dd>@User.Email()</dd>
    <dt>Role</dt>
    <dd>@User.Role()</dd>
    <dt>IsSiteAdministrator</dt>
    <dd>@User.IsSiteAdministrator()</dd>
</dl>
<h2>Claims</h2>
<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>