@model TokenService.Data.ClientData.ClientSite

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClientSite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FriendlyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FriendlyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientSecret)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientSecret)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaseUri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseUri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RedirectExtenstions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RedirectExtenstions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FrontChannelLogoutExtension)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FrontChannelLogoutExtension)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostLogoutRedirectExtensions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostLogoutRedirectExtensions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AllowedScopes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllowedScopes)
        </dd>
        <dt>Api Resources</dt>
        <dd>
            <table>
                <tr><th>Name</th><th>Display Name</th></tr>
                @foreach (var resource in @Model.ApiResource())
                {
                    <tr><td>@resource.Name</td><td>@resource.DisplayName</td></tr>
                }
            </table>
        </dd>
        <dt>Clients</dt>
        <dd>
            @foreach (var client in @Model.Clients())
            {
                <h4>@client.ClientId</h4>
                <dl class="dl-horizontal">
                    <dt>Client Id</dt>
                    <dd>@client.ClientId</dd>
                    <dt>Allowed Grant Types</dt>
                                <dd> <ul>
                                    @foreach (var grantType in client.AllowedGrantTypes)
                                    {
                                        <li>@grantType</li>
                                    }
                                </ul></dd>
        <dt>Redirects</dt>
                    <dd> <ul>
                        @foreach (var redirect in client.RedirectUris)
                        {
                            <li>@redirect</li>
                        }
                    </ul></dd>
                    <dt>Front Channel Logout</dt>
                    <dd>@client.FrontChannelLogoutUri</dd>
        <dt>Post Logout Redirects</dt>
                           <dd> <ul>
                               @foreach (var redirect in client.PostLogoutRedirectUris)
                               {
                                   <li>@redirect</li>
                               }
                           </ul></dd>
        <dt>Allowed Scopes</dt>
                           <dd> <ul>
                               @foreach (var scope in client.AllowedScopes)
                               {
                                   <li>@scope</li>
                               }
                           </ul></dd>
                                            
                </dl>                
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShortName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
